<div class="article-details">
    {{ if .Params.categories }}
    <header class="article-category">
        {{ range (.GetTerms "categories") }}
            <a href="{{ .RelPermalink }}" {{ with .Params.style }}style="background-color: {{ .background }}; color: {{ .color }};"{{ end }}>
                {{ .LinkTitle }}
            </a>
        {{ end }}
    </header>
    {{ end }}

    <div class="article-title-wrapper">
        <h2 class="article-title">
            <a href="{{ .RelPermalink }}">
                {{- .Title -}}
            </a>
        </h2>
    
        {{ with .Params.description }}
        <h3 class="article-subtitle">
            {{ . }}
        </h3>
        {{ end }}
    </div>

    {{ $showReadingTime := .Params.readingTime | default (.Site.Params.article.readingTime) }}
    {{ $showFuzzyWordCount := .Params.fuzzyWordCount | default (.Site.Params.article.fuzzyWordCount) }}
    {{ $showWordCount := .Params.wordCount | default (.Site.Params.article.wordCount) }}
    {{ $showViewsCount := .Params.viewsCount | default (.Site.Params.article.viewsCount) }}
    {{ $showDate := not .Date.IsZero }}
    {{ $showFooter := or $showDate $showReadingTime }}
    {{ if $showFooter }}
    <footer class="article-time">
        {{ if $showDate }}
            <div>
                {{ partial "helper/icon" "date" }}
                <time class="article-time--published">
                    {{- .Date.Format (or .Site.Params.dateFormat.published "Jan 02, 2006") -}}
                </time>
            </div>
        {{ end }}

        {{ if $showWordCount }}
            {{ if $showFuzzyWordCount }}
                {{ if gt .Params.wordNumber 0 }}
                    <div>
                        {{ partial "helper/icon" "letter-case" }}
                        <time class="article-time--reading">
                            {{ T "article.fuzzyWordCount" .Params.wordNumber }}
                        </time>
                    </div>
                {{ else }}
                    <div>
                        {{ partial "helper/icon" "letter-case" }}
                        <time class="article-time--reading">
                            {{ T "article.fuzzyWordCount" .FuzzyWordCount }}
                        </time>
                    </div>
                {{ end }}
            {{ else }}
                {{ if gt .Params.wordNumber 0 }}
                    <div>
                        {{ partial "helper/icon" "letter-case" }}
                        <time class="article-time--reading">
                            {{ T "article.wordCount" .Params.wordNumber }}
                        </time>
                    </div>
                {{ else }}
                    <div>
                        {{ partial "helper/icon" "letter-case" }}
                        <time class="article-time--reading">
                            {{ T "article.wordCount" .WordCount }}
                        </time>
                    </div>
                {{ end }}
            {{ end }}
        {{ end }}

        {{ if $showReadingTime }}
            {{ if gt .Params.wordNumber 0 }}
                <div>
                    {{ partial "helper/icon" "clock" }}
                    <time class="article-time--reading">
                        {{ T "article.readingTime" .Params.readingNumber }}
                    </time>
                </div>
            {{ else }}
                <div>
                    {{ partial "helper/icon" "clock" }}
                    <time class="article-time--reading">
                        {{ T "article.readingTime" .ReadingTime }}
                    </time>
                </div>
            {{ end }}
        {{ end }}

        {{ if $showViewsCount }}
            <div class="article-views">
                {{ partial "helper/icon" "eye-search" }}
                <time class="article-time--reading">
                    {{ T "article.viewsCount" }}
                </time>
            </div>
        {{ end }}
    </footer>
    {{ end }}

    {{ if .IsTranslated }}
        <footer class="article-translations">
            {{ partial "helper/icon" "language" }}
            <div>
                {{ range .Translations }}
                    <a href="{{ .Permalink }}" class="link">{{ .Language.LanguageName }}</a>
                {{ end }}
            </div>
        </footer>
    {{ end }}
</div>
